@charset "UTF-8";

html, body, ol, ul {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Tahoma, Arial, sans-serif;
    background-color: rgb(34, 34, 34);
}

body {
    background-color: rgb(69, 69, 69);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Background color: 72
   48
   30
   Orange: #F06529
*/

/********** HEADER **********/

#page-header {
    height: 300px;
    background-color: inherit;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 29%;
    height: 235px;
    padding: 65px 55px 0px 0px;
    text-align: right;
    background-color: #E34C26;
}

#logo a {
    font-family: Verdana, Arial, sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

#motto {
    position: absolute;
    top: 30px;
    left: 42%;
    width: 15%;
    height: 80px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px 10px 10px 10px;
}

#login {
    position: absolute;
    top: 0px;
    right: 25%;
    width: 10%;
    height: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 146, 191);
    border-radius: 10px 10px 10px 10px;
}

#login a {
    color: rgb(255, 255, 255);
}

#language-selection {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 15%;
    height: 30px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 146, 191);
    border-radius: 10px 10px 10px 10px;
}

/********** CONTENT **********/

#page-body {
    position: relative;
    margin: -150px auto 30px auto;
    width: 90%;
    background-color: transparent;
}

.menu {
    height: 70px;
    padding: 20px 20px 0px 20px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px 10px 0px 0px;
}

.separator {
    height: 6px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

#content {
    padding: 20px 20px 20px 20px;
    background-color: rgb(214, 214, 214);
    border-radius: 0px 0px 10px 10px;
}

/********** FOOTER **********/

footer h3 {
    color: rgb(214, 214, 214);
}

footer li
{
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.4em;
}

#top-footer {
    height: 200px;
    background-color: rgb(51, 51, 51);
    /* color: rgb(221, 221, 221); */
}

footer#top-footer a {
    color: rgb(153,153,153); /* #999 */
}

#logos {
    position: absolute;
    margin: 70px 0px 30px 0px;
    left: 0%;
    width: 33%;
}

#links {
    position: absolute;
    padding: 0px 0px 0px 70px;
    left: 33%;
    width: 34%;
}

#site-info {
    position: absolute;
    padding: 0px 0px 0px 70px;
    left: 67%;
    width: 33%;
}

#logo-html5 {
    float: left;
    margin: 0px 15px 0px 30px;
}

#logo-django {
    float: left;
    margin: 0px 15px 0px 15px;
}

#logo-css {
    float: left;
    margin: 0px 30px 0px 15px;
}

#bottom-footer {
    background-color: rgb(34, 34, 34);
    color: rgb(199, 199, 199);
}

footer#bottom-footer a {
    color: rgb(0, 146, 191);
}

#credits {
    padding: 15px 15px 15px 15px;
}
