@charset "UTF-8";

html {
    font-family: Tahoma, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(34, 34, 34);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(69, 69, 69);
}

a {
    text-decoration: none;
}

/* Background color: 72
   48
   30
   Orange: #F06529
*/

/********** HEADER **********/

.page-header {
    height: 300px;
    background-color: rgb(69, 69, 69);
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 29%;
    height: 235px;
    padding: 65px 55px 0px 0px;
    text-align: right;    
    background-color: #E34C26;
}

.logo a {
    font-family: Verdana, Arial, sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.motto {
    position: absolute;
    top: 30px;
    left: 42%;
    width: 15%;
    height: 80px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px 15px 15px 15px;
}

.login {
    position: absolute;
    top: 0px;
    right: 25%;
    width: 10%;
    height: 30px;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 146, 191);
    border-radius: 15px 15px 15px 15px;
}

.login a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.language-selection {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 15%;
    height: 30px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 146, 191);
    border-radius: 15px 15px 15px 15px;
}

/********** CONTENT **********/

.page-body {
    position: relative;
    margin: -150px auto 30px auto;
    width: 90%;
    background-color: rgb(69, 69, 69);
}

.menu {
    height: 70px;
    padding: 20px 20px 0px 20px;
    border-bottom: 6px solid rgb(69, 69, 69);
    background-color: rgb(214, 214, 214);
    border-radius: 20px 20px 0px 0px;
}

.content {
    padding: 20px 20px 20px 20px;
    background-color: rgb(214, 214, 214);
    border-radius: 0px 0px 20px 20px;
}

/********** FOOTER **********/

#top-footer {
    height: 100px;
    background-color: rgb(51, 51, 51);
    color: rgb(221, 221, 221);
}

#mid-footer {
    height: 100px;
    background-color: rgb(51, 51, 51);
    color: rgb(221, 221, 221);
}

#logo-html5 {
    float: left;
    margin: 0px 15px 0px 15px;
}

#logo-django {
    float: left;
    margin: 0px 15px 0px 15px;
}

#logo-css {
    float: left;
    margin: 0px 15px 0px 15px;
}

#bottom-footer {
    height: 50px;
    background-color: rgb(34, 34, 34);
    color: rgb(199, 199, 199);
}

#W3C-attribution {
    
}
