@charset "UTF-8";

html, body, ol, ul {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Tahoma, Arial, sans-serif;
    background-color: rgb(34, 34, 34);
}

body {
    background-color: rgb(69, 69, 69);
}

li
{
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
    #F06529 orange
    #82B3DF blue
    #1cbbb4 green
    #127874 green
*/

/********** HEADER **********/

#page-header {
    height: 300px;
    background-color: inherit;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 29%;
    height: 235px;
    padding: 52.5px 55px 0px 0px;
    text-align: right;
    background-color: #E34C26;
}

#logo a {
    font-family: Verdana, Arial, sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

#motto {
    position: absolute;
    top: 32.5px;
    left: 42.2%;
    width: 15%;
    height: 45px;
    padding: 20px;
    background-color: #8dc63f;
    border-radius: 40px 0px 40px 0px;
}

#login {
    position: absolute;
    top: 0px;
    right: 20%;
    width: 13.3%;
    height: 35px;
    padding: 15px 0px 0px 0px;
    text-align: center;
    background-color: rgb(0, 146, 191);
    border-radius: 0px 0px 10px 10px;
}

#login a {
    color: rgb(255, 255, 255);
}

#language-selection {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 13.3%;
    height: 35px;
    padding: 15px 0px 0px 0px;
    text-align: center;
    background-color: rgb(0, 146, 191);
    border-radius: 0px 0px 10px 10px;
}

/********** CONTENT **********/

#content-wrapper {
    position: relative;
    margin: -170px auto 30px auto;
    width: 90%;
    background-color: transparent;
}

nav {
    height: 50px;
    padding: 20px 0px 0px 0px;
    background-color: transparent;
    border-radius: 10px 10px 0px 0px;
}

.separator {
    height: 6px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

#content {
    padding: 20px 20px 20px 20px;
    background-color: rgb(214, 214, 214);  /* rgb(214, 214, 214) #B6CBFD #BED1FE */
    border-radius: 0px 0px 10px 10px;
}

nav a {
    color: rgb(255, 255, 255);
}

nav li {
    float: left;
    height: 35px;
    width: 15%;
    margin: 0px 10px 0px 0px;
    padding: 15px 0px 0px 0px;
    font-size: 1.28em;
    text-align: center;
    background-color: rgb(0, 146, 191);
    border-radius: 10px 10px 0px 0px;
}

/********** FOOTER **********/

footer h3 {
    color: rgb(214, 214, 214);  /* rgb(221, 221, 221) */
}

footer li
{
    font-size: 0.9em;
    line-height: 1.4em;
}

#top-footer {
    height: 200px;
    background-color: rgb(51, 51, 51);
}

footer#top-footer ul,  footer#top-footer h3{
    padding: 0% 0% 0% 17%;
}

footer#top-footer a {
    color: rgb(153,153,153);  /* #999 */
}

#logos {
    position: absolute;
    padding: 70px 0px 30px 0px;
    left: 0%;
    width: 33%;
}

#links {
    position: absolute;
    left: 33%;
    width: 34%;
}

#site-info {
    position: absolute;
    left: 67%;
    width: 33%;
}

#logo-html5 {
    float: left;
    margin: 0px 10px 0px 20px;
}

#logo-django {
    float: left;
    margin: 0px 10px 0px 10px;
}

#logo-css {
    float: left;
    margin: 0px 0px 0px 10px;
}

#bottom-footer {
    background-color: rgb(34, 34, 34);
    color: rgb(199, 199, 199);
}

footer#bottom-footer a {
    color: rgb(0, 146, 191);
}

#credits {
    padding: 20px 20px 20px 20px;
}
